*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/.idea

github.gradle

calces/
libs/
sampledata/
schemas/
/gradle
gradlew
gradlew.bat
# Project exclude paths
/baselib/prettifier/build/