<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tangpj.oauth2" >

    <application android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:roundIcon="@mipmap/ic_launcher_round">

        <activity android:name="ui.Oauth2Activity"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="recurve" android:host="oauth" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
